FIRO_RPC_HOST='127.0.0.1'
FIRO_RPC_PORT='8888'
FIRO_RPC_USER='firoexplorer'
FIRO_RPC_PASS='password'
FIRO_RPC_FALLBACK_HOST=''
FIRO_RPC_FALLBACK_PORT='8888'
FIRO_RPC_FALLBACK_USER='firoexplorer'
FIRO_RPC_FALLBACK_PASS=''

MONGODB_URI='mongodb://admin:password@127.0.0.1:27017/?authSource=admin'
